{% extends "tribes/base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<form method="post">
    <div class="container py-5">
    <h1>Change password</h1>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Save changes</button>
  </form>
</div>
  {% endblock %}