{% extends "tribes/base.html" %}

{% block content %}      

{% load crispy_forms_tags %}

<!--Update profile--> 
<div class="container py-5">
  <h1>Update Profile</h1>
  <form method="POST">
    {% csrf_token %}
    {{ update_form|crispy }}
    {{ update_form2|crispy }}
    <button class="btn btn-primary" type="submit">Update Profile</button>
  </form>
  <p class="text-center">Want to change password? <a href="{% url 'register:change_password' %}">Change password</a>.</p>
  
</div>

{% endblock %}