{% extends "tribes/base.html" %}

{% block content %}      

{% load crispy_forms_tags %}


<div class="container py-5">
  <h1>Add comment</h1>
  <form method="POST">
    {% csrf_token %}
    {{ add_comment|crispy }}
    <button class="btn btn-primary" type="submit">Add comment</button>
  </form>
  
</div>

{% endblock %}