{% extends "tribes/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<style>
	div {
		padding: 10px;
	   
	  }
	  </style>
    <form method="POST" class="form-group">
	{% csrf_token %}
	<div>{{ form|crispy }}
		<button type="submit" class="btn btn-success">Create tribe</button>
	</div>
	
	
    </form>
{% endblock %}