{% extends "tribes/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<style>
div {
    padding: 10px;
   
  }
  </style>
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <div>
           
            <button type="submit" class="btn btn-success">Create playlist</button>
        </div>
	
	
	

    </form>
{% endblock %}
