{% extends "tribes/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<style>
  .container {
height: 70px;
position: relative;

}

.a {
  font-size: 15px;
}

.center {
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
  </style>



<br>
<div class="container">
  <div class="center">
    
      <h1>{{tribe.name}}</h1>
      <h1>{{playlist.name}}</h1>

    
  </div>
</div>
<br>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Song</th>
        <th scope="col">URL</th>
        <th scope="col">Added by</th>
        <th scope="col">Likes</th>
      
      </tr>
    </thead>
    <tbody>
      {% if is_admin == 1 or is_chieftain == 1 or is_author == 1 %}
      <a class="btn btn-primary" href="{% url  'tribes:delete_playlist' playlist.id %}" role="button">Delete playlist</a>
      {% endif %}
      {% if is_admin == 1 or is_chieftain == 1 or is_author == 1 or is_member == 1%}
      <a class="btn btn-primary" href="{% url  'tribes:add_song' playlist.id %}" role="button">Add song</a>
      {% endif %}
        {% for song in songs_with_likes %}
      <tr>
        <td>{{song.song.name}}</td>
        <td>{{song.song.urlsong}}</td>
        <td>{{song.song.user.username}}</td>
        {% if song.liked == 0 %}
        <td class="btn btn-primary"><a href="{% url 'tribes:add_like' song_id=song.song.id playlist_id=playlist.id %}">Like</a>{{song.number_of_likes}}</td>
        {% else %}
        <td>{{song.number_of_likes}}</td>
        {% endif %}
        {% endfor %}
      </tr>
      
    </tbody>
  </table>
  
  {% if user_in_tribe == 1 %}
  <p class="text-center"><a href="{% url 'tribes:add_comment' tribe_id=tribe.id playlist_id=playlist.id %}">Add comment</a>.</p>
  {% else %}
  {% endif %}
  <h2>Comments...</h2>

 
  {% if not playlist.comments.all %}
    No comments yet
  {% else %}
      {% for comment in playlist.comments.all %}
        <strong>
          {{ comment.user }}
          {{ comment.date }}
        </strong>
        <br>
        {{ comment.text }}
        <form action="{% url 'tribes:like' tribe_id=tribe.id playlist_id=playlist.id comment_id=comment.id %}" method="POST">
          {% csrf_token %}
          <button type="submit", name="comment_id",value="{{ playlist.id }}" class="btn btn-primary btn-sm">Like </button>
          <h3>{{ comment.total_likes }}</h3>

        </form>
        </br>
      {% endfor %}
  {% endif %}
  {% endblock %}