{% extends "tribes/base.html" %}
{% load static %}

{% block content %}
<style>
    .container {
  height: 70px;
  position: relative;
  border: 3px solid rgb(8, 158, 168);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
    </style>
<br>

<div class="container">
    <div class="center">
<a class="btn btn-primary" href="{% url 'tribes:create_tribe' %}" role="button">Create tribe</a>
</div>
</div>
<h2>Chieftain tribes</h2>
{% for tribe in chieftain_tribes %}
<ul>
  <br>
 
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Logo</th>
        <th scope="col">Tribe name</th>
        <th scope="col">Tribe genre</th>
        <th scope="col">Chieftain</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><img src="{{ tribe.logourl }}" alt="" width="100" height="100"></th>
        
        <td>{{tribe.name}}</td>
        <td>{{tribe.genre}}</td>
        <td>{{tribe.chieftain.username}}</td>
        <td><a class="btn btn-primary" href="{% url 'tribes:tribe' tribe_id=tribe.id %}">Check Tribe</a></td>
      </tr>
      
    </tbody>
  </table>
</ul>
{% endfor %}
<h2>Member tribes</h2>
{% for tribe in member_tribes %}
<ul>
  <br>
 
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Logo</th>
        <th scope="col">Tribe name</th>
        <th scope="col">Tribe genre</th>
        <th scope="col">Chieftain</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><img src="{{ tribe.logourl }}" alt="" width="100" height="100"></th>
        
        <td>{{tribe.name}}</td>
        <td>{{tribe.genre}}</td>
        <td>{{tribe.chieftain.username}}</td>
        <td><a class="btn btn-primary" href="{% url 'tribes:tribe' tribe_id=tribe.id %}">Check Tribe</a></td>
      </tr>
      
    </tbody>
  </table>
</ul>
{% endfor %}
<h2>Non member tribes</h2>
{% for tribe in non_member_tribes %}
<ul>
  <br>
 
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Logo</th>
        <th scope="col">Tribe name</th>
        <th scope="col">Tribe genre</th>
        <th scope="col">Chieftain</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><img src="{{ tribe.logourl }}" alt="" width="100" height="100"></th>
        
        <td>{{tribe.name}}</td>
        <td>{{tribe.genre}}</td>
        <td>{{tribe.chieftain.username}}</td>
        <td><a class="btn btn-primary" href="{% url 'tribes:tribe' tribe_id=tribe.id %}">Check Tribe</a></td>
      </tr>
      
    </tbody>
  </table>
</ul>
{% endfor %}

{% endblock %}
