{% extends "tribes/base.html" %}
{% load static %}

{% block content %}
<style>
  .container {
height: 70px;
position: relative;

}

.a {
  font-size: 15px;
}

.center {
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
  </style>



<br>
<div class="container">
  <div class="center">

      <h1>{{tribe.name}}</h1>
      <h1>{{tribe.chieftain.name}}</h1>


  </div>
</div>
<br>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Playlist name</th>
        <th scope="col">Playlist created by</th>

      </tr>
    </thead>
    <tbody>
      {% for playlist in playlists %}
      <tr>
        <td>{{playlist.name}}</td>
        <td>{{playlist.user}}</td>
        <td><a class="btn btn-primary" href="{% url 'tribes:playlist' tribe_id=tribe.id playlist_id=playlist.id %}">Check Playlist</a></td>
        {% endfor %}
      </tr>

    </tbody>
  </table>
  <div class="container">
    <div class="center">

  {% if user_in_tribe == 0 %}
  <a class="btn btn-primary" href="{% url 'tribes:join_tribe' tribe.id %}" role="button">Join tribe</a>
  {% elif user_in_tribe == 1 %}
  <a class="btn btn-primary" href="{% url 'tribes:leave_tribe' tribe.id %}" role="button">Leave tribe</a>
  <a class="btn btn-primary" href="{% url 'tribes:create_playlist' tribe.id %}" role="button">Create playlist</a>
  {% if user_chieftain == 1 or user_is_admin == 1%}
  <a class="btn btn-primary" href="{% url 'tribes:delete_tribe' tribe.id %}" role="button">Delete tribe</a>
  {% endif %}
  {% else %}
      Error!!
  {% endif %}
    </div>
  </div>

  {% for member in members %}
  <h2>{{member.username}}</h2>
  {% if user_chieftain == 1 or user_is_admin == 1%}
    <a class="btn btn-primary" href="{% url  'tribes:kick_user' tribe.id member.id %}" role="button">Kick user</a>
  {% else %}
  {% endif %}
  {% endfor%}

  {% endblock %}